alembic==1.4.2
argcomplete==1.11.1
attrs==19.3.0
aws-sam-translator==1.22.0
aws-xray-sdk==2.4.3
boto==2.49.0
boto3==1.12.37
botocore==1.15.37
certifi==2020.4.5.1
cffi==1.14.0
cfn-flip==1.2.2
cfn-lint==0.29.4
chardet==3.0.4
click==7.1.1
cryptography==2.9
decorator==4.4.2
docker==4.2.0
docutils==0.15.2
durationpy==0.5
ecdsa==0.15
Flask==1.1.2
Flask-SQLAlchemy==2.4.1
future==0.18.2
hjson==3.0.1
idna==2.8
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
jsondiff==1.1.2
jsonpatch==1.25
jsonpickle==1.3
jsonpointer==2.0
jsonschema==3.2.0
kappa==0.6.0
Mako==1.2.2
MarkupSafe==1.1.1
mock==4.0.2
moto==1.3.14
networkx==2.4
numpy==1.18.2
pandas==1.0.3
pip-tools==4.5.1
placebo==0.9.0
psycopg2==2.8.5
pyasn1==0.4.8
pycparser==2.20
pyrsistent==0.16.0
python-dateutil==2.6.1
python-editor==1.0.4
python-jose==3.1.0
python-slugify==4.0.0
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
responses==0.10.12
rsa==4.0
s3transfer==0.3.3
six==1.14.0
SQLAlchemy==1.3.16
sshpubkeys==3.1.0
text-unidecode==1.3
toml==0.10.0
tqdm==4.45.0
troposphere==2.6.0
urllib3==1.25.8
websocket-client==0.57.0
Werkzeug==0.16.1
wrapt==1.12.1
wsgi-request-logger==0.4.6
xmltodict==0.12.0
zappa==0.51.0
zipp==3.1.0
